<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Chat</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/script.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>
	<body>
	    <div id="messages">
	        <ul>
    	    </ul>
	    </div>
	    <div id="form">
	       <form action="/messages/new" method="post">
	           <p>
	               <input type="text" name="message" id="message" /> <input type="submit" name="Enviar" id="submit" />
	           </p>
	       </form>
	    </div>
	</body>
</html>