/* # Reset # */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	outline: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* # Main # */
body {
	background: #ffffff;
	color: #333333;
	font: 11px/1.2em Helvetica, Arial, sans-serif;
}
#loading {
	background: url('images/loading.gif') no-repeat;
	bottom: 6px;
	display: none;
	height: 16px;
	position: fixed;
	right: 10px;
	width: 16px;
	z-index: 100;
}
#info {
	background: #efefef;
	border-bottom: 1px solid #d7d7d7;
	height: 15px;
	top: 0px;
	left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	position: fixed;
	width: 100%;
	z-index: 99;
}
#left {
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
}
#messages {
	left: 0px;
	position: absolute;
	padding-bottom: 40px;
	top: 20px;
	width: 100%;
	z-index: 50;
}
#messages ul {padding: 10px;}
#messages ul li {
	border-bottom: 1px solid #9e9e9e;
	padding: 5px 0;
}
#messages ul li.sub {
	border-top: 1px solid #e9e9e9;
}
#form {
	background: #efefef;
	border-top: 1px solid #d7d7d7;
	bottom: 0px;
	left: 0px;
	padding: 5px 0;
	position: fixed;
	width: 100%;
	z-index: 99;
}
#form form {padding: 0 10px;}
#form form #message {
	border: 1px solid #d7d7d7;
	height: 16px;
	width: 100%;
}
#user_list {
	background: #ffffff;
	display: none;
	left: 0;
	padding-bottom: 20px;
	position: absolute;
	top: 20px;
	width: 100%;
	z-index: 51;
}
#user_list ul {padding: 10px;}
#user_list ul li {
	border-bottom: 1px solid #9e9e9e;
	padding: 5px 0;
}